*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.fixed-width{
    max-width: 1250px;
    margin: auto;
}

/*Main css start*/

/*Header start*/
.header{
    background-color:#fff ;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
.header a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.header-logo a img{
    height: 60px;
    float: left;
    margin-right: 10px;
}
.header span{
    display: inline-block;
    margin-top: 17px;
    font-size: 25px;
    font-weight: 500;
}
.header span:hover{
    color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.header-menu{
    width: 50%;
}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    display: inline-block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 60px;
}
.header-menu ul li:hover > a{
    color:#6278df ;
    transition: .4s;
}

/*Dropdown menu*/

.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 2;
}
.header-menu ul li .d-menu1 a{
    border-bottom: 1px solid #ddd;
    width: 170px;
    line-height: 40px;
    
}
.header-menu ul li .d-menu2 a{
    border-bottom: 1px solid #ddd;
    width: 220px;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transform: scaleY(1);
}

.header-button{
width: 20%;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid;
    margin-top: 8px;
    font-size: 16px;
    background-color: white;
    border-radius: 7px;
    color:#6278df !important ;
    font-weight: 700;
}
.button:hover{
    background-color:#6278df ;
    color: white !important;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.5);
    border: 2px solid #6278df;
}

/*Header end*/

/*Banner start*/

.banner{
   background: url(https://i.ibb.co/QJdcFnv/mbr-4.jpg) no-repeat center;
   padding: 200px 0;
   background-size: cover;
   color: white;
   position: relative;
   z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.banner-content h3{
    font-size: 28px;
    font-weight: 500;
}
.banner-content h2{
    font-size: 55px;
    margin: 40px 0;
}
.default-button{
    display: inline-block;
    padding: 20px 30px;
    color: #7d7d7d;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 5px;
}
.default-button i{
    margin-right: 10px;
}
.default-button:hover{
    background-color: #6278df;
    color: white;
    transition: .4s;
}

.banner-bottom{
    padding: 100px 0;
    background-color: #f7f9ff;
}
.video{
    width: 48%;
}
.video-content{
    width: 48%;
}
.video-content h2{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
}
.video-content p{
    color: #767676;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

/*Banner end*/

/*Service section start*/

.Service-title{
    padding: 80px 0;
}
.Service-title h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}
.Service-title h4{
    font-size: 25px;
    font-weight: 300;
    color: #767676;
}
.service-box{
    width: 32%;
    margin-right: 2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
    padding: 25px;
    box-sizing: border-box;
}
.service-box:nth-child(3n+3) {
    margin-right: 0;
}
.service-icon span{
    margin-right: 30px;
    margin-bottom: 130px;
    float: left;
    font-size: 40px;
    color: #6278df;
}
.box-text h3{
    font-size: 25px;
    font-weight: 500;
}
.box-text p{
    margin: 30px 0;
    font-size: 23px;
    color:#767676 ;
    font-weight: 300;
}

/*Service section end*/

/*Pricing section start*/

.pricing-section{
    background-color: #f7f9ff;
    padding: 40px;
}

.pricing-title h1{
    font-size: 60px;
    font-weight: 400;
}
.pricing-title p{
    font-size: 25px;
    color: #767676;
    font-weight: 300;
    margin: 30px;
}

.pricing-item{
    width: 32%;
    margin-right: 2%;
    background-color: white;
    box-shadow: 3px 4px 30px 0 rgba(0, 0, 0, 0.2);
}
.pricing-item:nth-child(3){
    margin-right: 0;
}
.pricing-item h3{
    font-size: 25px;
    font-weight: 500;
}
.pricing-item h1{
    font-size: 50px;
    margin: 35px 0;
}
.pricing-item h1 span{
    font-size: 20px;
}
.pricing-item h4{ 
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}
.pricing-item p{
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
}
.p-item-heding{
    border-bottom: 1px solid #ddd;
    padding: 30px;
}
.p-item-content{
    padding: 40px;
}
.p-item-content ul{
    list-style: none;
}
.p-item-content ul li {
    margin-bottom: 30px;
    font-size: 22px;
    color: #767676;
    font-weight: 300;
}
.p-item-content ul li span{
    display: inline-block;
    margin-right: 20px;
    font-size: 27px;
    color: #6278df;
}
.p-button{
    display: inline-block;
    padding: 20px 70px;
    color: #6278df;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 2.5px 4px 30px 0 rgba(64, 82, 163, 0.3);
}
 .p-button:hover{
    background-color: #000 !important;
}
.pricing-item:hover .p-item-heding {
    background-color:#6278df;
    color: white;
    transition: .4s;
}

.pricing-item:hover .pricing-button .p-button{
    background-color:#6278df ;
    color: white;
    transition:.4s;   
}


/*Pricing section end*/

/*Member section start*/

.member-title h2{
    font-size: 43px;
    font-weight: 500;
    margin: 80px 0;
}
.members{}
.team-member{
    margin-bottom: 80px;
}
.about-member{
    width: 23%;
    margin: 1%;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.2);
}
.about-member img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.bio{
    padding:30px ;
}
.about-member h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 12px;
}
.about-member p{
    font-size: 22px;
    color: #767676;
    font-weight: 300;
}

/*Members section end*/

/*Newsletter section start*/

.newsletter{
    padding: 100px 0;
    background-color: #f7f9ff;
}
.newsletter-title p{
    font-size: 27px;
    color: #767676;
    font-weight: 300;
}
.newsletter-title h1{
    font-size: 45px;
    font-weight: 500;
    margin: 40px 0;
}
.email{
    width: 350px;
    padding: 20px 15px;
    font-size: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.2);
    margin-right: 10px;
    box-sizing: border-box;
    outline: none;
}
.email:focus{
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.7); 
    border: 1px solid #6278df; 
}
.f-button{
    display: inline-block;
    background-color: #6278df;
    padding: 20px 60px;
    border: 2px solid transparent;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 7px;
    color:white;
    font-weight: 700;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.3);
    cursor: pointer;
}
.f-button:hover{
    background-color: white;
    color:#6278df ;
    border:2px solid #6278df;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.7);
}

/*Newsletter section end*/

/*Blog section start*/

.blog-section{
    margin:60px 0 ;
}
.blog-header{}
.b-title{
    width: 50%;
}
.b-title h1{
    font-size: 48px;
    font-weight: 500;
}
.b-text{
    width: 50%;
}
.b-text p{
    font-size: 22px;
    color: #767676;
    line-height: 32px;
}


.blog-post-item{
    width: 49%;
    margin-top: 60px;
}
.blog-img{
    width: 50%;
}
.blog-post-content{
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.17);
}
.blog-post-content h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.blog-post-content p{
    font-size: 19px;
    font-weight: 300;
    color: #767676;
    line-height: 33px;
}

/*Blog section end*/

/*Feedback section section start*/

.feedback-section{
    padding: 80px 0;
    background-color:#f7f9ff ;
}
.feedback-title p{
    font-size: 22px;
    color: #767676;
}
.feedback-title h1{
    font-size: 42px;
    font-weight: 400;
    margin: 30px 0;
}


.feedbace-item{
    width: 29.3%;
    margin: 2%;
}
.feedbace-item:last-child{
    margin-right: 0;
}
.feedback-content p{
    padding:60px 40px;
    margin-top: 15px;
    background-color: white;
    font-size: 21px;
    color: #767676;
    font-weight: 300;
    line-height: 30px;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.17); 
    position: relative;
}
.quote{
    font-size: 80px;
    opacity: .1;
    position: absolute;
    left: 30px;
	top: 25px;
}

.feedback-content::after{
    content: "";
    position: relative;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.user-img{
    width: 170px;
    margin: auto;
    margin-top: 20px;
}
.user-img img{
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.user-bio h3{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 7px;
}
.user-bio p{
    color: #767676;
}

/*Feedback section section end*/

/*Contact section start*/

.contact-section{
    margin: 60px 0;
}
.contact-map{
    width: 56%;
}
.contact-form{
    width: 40%;
    margin: 70px 0;
}
.contact-form h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.contact-form p{
    font-size: 21px;
    font-weight: 300;
    color: #767676;
    line-height: 30px;
    margin-bottom: 50px;
}
.w100{
    width: 100%;
}
.w50{
    width: 48%;
}
.default-input{
    padding: 20px 15px;
    margin-bottom: 30px;
    font-size: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.2);
    box-sizing: border-box;
    outline: none;
}
.default-input:focus{
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.7); 
    border: 1px solid #6278df;
}
.form-button{
    display: inline-block;
    background-color: #6278df;
    padding: 17px 0;
    border: 2px solid transparent;
    font-size: 22px;
    border-radius: 7px;
    color:white;
    font-weight: 700;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.3);
    cursor: pointer;
}
.form-button:hover{
    background-color: white;
    color:#6278df ;
    border:2px solid #6278df;
    box-shadow: 3px 4px 20px 0 rgba(98, 120, 223,.9);
}

/*Contact section end*/

/*Footer section start*/

.footer{
    font-size: 22px;
    font-weight: 300;
    padding: 10px;
    margin: 15px 0;
}

/*Footer section end*/
